<h1>
  Heroes con el término:
  <small>
  {{ parametroBusqueda }}
</small>
</h1>


<div class="row animated fadeIn" *ngIf="heroes.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info">
      NO existen heroes con este término
    </div>
  </div>
</div>

<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let heroe of heroes;let i = index">
      <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
      <div class="card-body">
          <h5 class="card-title">{{ heroe.nombre }}</h5>
          <p class="card-text">
              {{ heroe.bio }}
          </p>
          <p class="card-text">
              <small class="text-muted">{{ heroe.aparicion | date:'y-MM' }}</small>
          </p>

          <button class="btn btn-outline-primary btn-block" (click)="verHeroe(i)">
            Ver más...
          </button>

          <!-- sólo se pone la i porque al tener parámetros la ruta, se redirige a la misma url, entonces sólo le concateno el id -->
          <a href="#" class="btn btn-primary btn-block" [routerLink]="[i]">Ver más link...</a>
          
          <!-- <a href="#" class="btn btn-primary btn-block" [routerLink]="['/heroe',i]">Ver más link...</a> -->
      </div>
  </div>
</div>